.tki_footer{
    width:100%;

    .tki_footer-content{
        display:inline-block;
    }

    .tki_footer-contact a{
        display:inline-block;
        padding:20px;
        font-size:48px;
        line-height:1em;
    }

    .tki_colophon{
        position:absolute;
        bottom:10px;
        right:10px;
        color:$color-lightest;
    }


}