
.tki_background {
    height:100%;
    width:100%;

    .tki_background-inner {
        overflow:hidden;
        height:100%;
        width:100%;

        .tki_background-img {
            position: absolute;
            max-width: none;
        }

        .tki_background-filter {
            position: absolute;
            background-color:transparent;
            height:100%;
            width:100%;
            top:0;
            left:0;
            z-index:10;
        }


    }

}