#page-home{}

#page-home-hero{

    h1{
        color:white;
        font-size:72px;
        text-align:center;
        height:80px;
        margin:auto 0;
        position:absolute;
        width:100%;
        top:0;
        bottom:0;


    }

}